<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm <% app.settings.iconsColor %> text-xs">
    <span translate="navigation.administration"></span>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="admin.dashboard">
      <i class="glyphicon glyphicon-home icon <% app.settings.iconsColor %>"></i>
      <span class="font-bold" translate="navigation.dashboard"></span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="admin.clients">
      <i class="fa fa-users icon <% app.settings.iconsColor %>"></i>
      <span class="font-bold" translate="navigation.clients"></span>
    </a>
  </li>
  <li ui-sref-active="active">
  <a ui-sref="admin.procedures">
    <b class="badge <% app.settings.navbarHeaderColor %> pull-right">0</b>
    <i class="fa fa-medkit icon <% app.settings.iconsColor %>"></i>
    <span class="font-bold" translate="navigation.procedures"></span>
  </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="admin.doctors">
      <b class="badge <% app.settings.navbarHeaderColor %> pull-right">0</b>
      <i class="fa fa-user-md icon <% app.settings.iconsColor %>"></i>
      <span class="font-bold" translate="navigation.doctors"></span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="admin.manipulations">
      <b class="badge <% app.settings.navbarHeaderColor %> pull-right">0</b>
      <i class="fa fa-stethoscope icon <% app.settings.iconsColor %>"></i>
      <span class="font-bold" translate="navigation.manipulations"></span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="admin.references">
      <b class="badge <% app.settings.navbarHeaderColor %> pull-right">0</b>
      <i class="fa fa-file-text-o icon <% app.settings.iconsColor %>"></i>
      <span class="font-bold" translate="navigation.references"></span>
    </a>
  </li>
  <li class="line dk"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="navigation.clients_side"></span>
  </li>
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <b class="badge bg-info pull-right">3</b>
      <i class="glyphicon glyphicon-th"></i>
      <span>Layout</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span>Layout</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="layout.app">
          <span>Application</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="layout.fullwidth">
          <span>Full width</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="layout.mobile">
          <span>Mobile</span>
        </a>
      </li>      
    </ul>
  </li>
  <li class="line dk hidden-folded"></li>
</ul>
<!-- / list -->
