<div class="wrapper-md">
    <div class="row">
        <div class="col-sm-6">
            <form role="form" ng-submit="vm.postRequest()" class="form-validation" uploader="vm.uploader">
                <tabset class="tab-container">
                    <tab ng-repeat="language in vm.languages" ng-if="language.is_visible === 1">
                        <tab-heading>
                            <img ng-src="public/administration/assets/img/flags/<% language.image %>"
                                 alt="<% language.name %>"> <% language.name %>
                        </tab-heading>
                        <div class="form-group">
                            <label translate="data.property.names"></label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="names"
                                   ng-init="vm.news.texts[language.code].title = ''"
                                   ng-model="vm.news.texts[language.code].title"
                                   ng-pattern="/[\wа-я]{4,128}$/">
                            <input type="hidden"
                                   ng-init="vm.news.texts[language.code].language_id = language.id"
                                   ng-model="vm.news.texts[language.code].language_id"/>
                        </div>
                        <div class="form-group">
                            <label translate="data.property.description"></label>
                            <textarea class="form-control"
                                      rows="6"
                                      ng-init="vm.news.texts[language.code].description = ''"
                                      ng-model="vm.news.texts[language.code].description"></textarea>
                        </div>
                    </tab>
                </tabset>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group pull-in clearfix">
                            <div class="col-sm-6">
                                <label translate="data.property.image"></label>
                                <input type="file"
                                       accept="image/*"
                                       nv-file-select=""
                                       uploader="vm.uploader">
                            </div>
                            <div class="col-sm-6">
                                <label translate="data.property.is_visible"></label>

                                <div>
                                    <label class="i-switch m-t-xs m-r">
                                        <input type="checkbox"
                                               ng-model="vm.news.is_visible"
                                               ng-checked="vm.news.is_visible">
                                        <i></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success" ng-submit="postRequest()">Submit</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>
