<div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black" translate="aside.nav.PROCEDURES"></h1>
                    <small class="text-muted">Welcome to angulr application</small>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md" ng-controller="ProceduresListCtrl">
            <!-- stats -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row" style="margin: 0">
                        <label style="text-align: left; white-space: nowrap;">Show:
                            <select
                                    ng-init="somethingHere = entryOptions[0]"
                                    ng-model="somethingHere"
                                    ng-change="updateValue(somethingHere.value)"
                                    ng-options="option.name for option in entryOptions"
                                    class="form-control input-sm"
                                    style="display: inline-block; width: auto; vertical-align: middle">
                            </select>
                        </label>
                        <button type="button" ui-sref="admin.procedures.create"
                                class="btn btn-sm btn-addon btn-success"
                                style="float: right;">
                            <i class="glyphicon glyphicon-plus">
                            </i> add new procedure
                        </button>
                        <label style="text-align: right; white-space: nowrap;">Search:
                            <input class="form-control input-sm" type="text" ng-model="search.$" placeholder="Search"
                                   style="display: inline-block; width: auto;"/>
                        </label>
                    </div>
                    <div>
                        <table class="table table-striped b-t b-b">
                            <thead>
                            <tr>
                                <th style="max-width:50px;" translate="data.property.id"></th>
                                <th style="max-width:300px;" translate="data.property.name"></th>
                                <th style="max-width:100px;%" translate="data.property.price"></th>
                                <th style="max-width:200px;" translate="data.property.description"></th>
                                <th style="max-width:100px;" translate="data.property.created_by"></th>
                                <th style="max-width:100px;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="procedure in filtered = procedures | filter:search:strict | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td><% procedure.id %></td>
                                <td><% procedure.title %></td>
                                <td><% procedure.price %></td>
                                <td><% procedure.description %></td>
                                <td><% procedure.created_by_user_name %></td>
                                <td>
                                    <button class="btn btn-sm btn-icon btn-warning"
                                            ui-sref="admin.procedures.update({ id: <% procedure.id %>})">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="btn btn-sm btn-icon btn-danger"
                                            ng-click="delete(procedure)">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <pre><% procedures %></pre>
                    </div>
                    <div class="row" style="margin: 0">
                        <div class="col-sm-6">
                            <pagination ng-model="currentPage" page="currentPage" max-size="noOfPages"
                                        total-items="totalItems" items-per-page="entryLimit"></pagination>
                        </div>

                    </div>
                </div>
                <!-- / main -->

            </div>
        </div>
    </div>
</div>
