<div class="wrapper-md">
        <!-- / main header -->
        <div ng-controller="ClientsCreateCtrl as vm">
            <!-- stats -->
            <div class="row">
                <div class="col-sm-6">
                    <form role="form" ng-submit="vm.postRequest()" class="form-validation">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group pull-in clearfix">
                                    <div class="col-sm-6">
                                        <label translate="data.property.title"></label>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="names"
                                               ng-model="vm.client.names"
                                               ng-pattern="/[\wа-яА-Я]{4,128}$/"
                                               required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label translate="data.property.phone"></label>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="phone"
                                               ng-model="vm.client.phone"
                                               ng-pattern="/([0-9]){4,10}$/">
                                    </div>
                                </div>
                                <div class="form-group pull-in clearfix">
                                    <div class="col-sm-6">
                                        <label translate="data.property.email"></label>
                                        <input type="email"
                                               class="form-control"
                                               placeholder="email"
                                               ng-model="vm.client.email">
                                    </div>
                                    <div class="col-sm-6">
                                        <label translate="data.property.dob"></label>
                                        <div class="input-group">
                                            <input type="text"
                                                   class="form-control"
                                                   datepicker-popup="dd-MMMM-yyyy"
                                                   show-button-bar="false"
                                                   ng-model="vm.client.dob"
                                                   is-open="vm.opened"
                                                   readonly="true"
                                                    />
                                              <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="vm.openDatepicker($event)">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                              </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label translate="data.property.address"></label>
                                    <textarea type="text"
                                              class="form-control"
                                              placeholder="address"
                                              ng-model="vm.client.address"></textarea>
                                </div>
                            </div>
                            <footer class="panel-footer text-right bg-light lter">
                                <button type="submit" class="btn btn-sm btn-success">Submit</button>
                            </footer>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- / main -->
</div>
