<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3"><% $root.title %></h1>
</div>
<div class="wrapper-md">
        <div ng-controller="LanguagesListCtrl">
            <!-- stats -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row" style="margin: 0">
                        <label style="text-align: left; white-space: nowrap;">Show:
                            <select
                                    ng-init="somethingHere = entryOptions[0]"
                                    ng-model="somethingHere"
                                    ng-change="updateValue(somethingHere.value)"
                                    ng-options="option.name for option in entryOptions"
                                    class="form-control input-sm"
                                    style="display: inline-block; width: auto; vertical-align: middle">
                            </select>
                        </label>
                        <button type="button" ui-sref="admin.doctors.create"
                                class="btn btn-sm btn-addon btn-success"
                                style="float: right;">
                            <i class="glyphicon glyphicon-plus">
                            </i>add new doctor
                        </button>
                        <label style="text-align: right; white-space: nowrap;">
                            <input class="form-control input-sm" type="text" ng-model="search.$" placeholder="Search"
                                   style="display: inline-block; width: auto;"/>
                        </label>
                    </div>
                    <div>
                        <table class="table table-striped b-t b-b">
                            <thead>
                            <tr>
                                <th style="max-width:50px; width:50px;" translate="data.property.id"></th>
                                <th style="max-width:100px;; width:50px;" translate="data.property.image"></th>
                                <th style="max-width:100px;%" translate="data.property.name"></th>
                                <th style="max-width:20px;" translate="data.property.sort_order"></th>
                                <th style="max-width:20px;" translate="data.property.is_visible"></th>
                                <th style="max-width:100px;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="language in filtered = languages | filter:search:strict | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td>
                                    <% language.id %>
                                </td>
                                <td>
                                    <img ng-src="src/admin/img/flags/<% language.image %>" alt="<% language.image %>" style="width: 30px; height: 30px;"/>
                                </td>
                                <td>
                                    <span><% language.name %></span>
                                </td>
                                <td>
                                    <span><% sort_order.name %></span>
                                </td>
                                <td>
                                    <div ng-class="language.is_visible == 1? 'text-success' : 'text-danger'" class="m-t-sm">
                                    <i class="fa fa-circle"></i>
                                </div>
                                </td>
                                <td class="pull-right">
                                    <button class="btn btn-sm btn-icon btn-warning"
                                            ui-sref="admin.languages.update({ id: <% language.id %>})">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="btn btn-sm btn-icon btn-danger"
                                            ng-click="delete(language)">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" style="margin: 0">
                        <div class="col-sm-6">
                            <pagination ng-model="currentPage" page="currentPage" max-size="noOfPages"
                                        total-items="totalItems" items-per-page="entryLimit"></pagination>
                        </div>

                    </div>
                </div>
                <!-- / main -->

            </div>
        </div>
</div>