<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm  text-xs">
        <span class="font-bold" translate="navigation.administration"></span>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="admin.dashboard" ng-click="app.settings.menuOpen = !app.settings.menuOpen">
            <i class="glyphicon glyphicon-home icon "></i>
            <span translate="navigation.dashboard"></span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="admin.clients" ng-click="app.settings.menuOpen = !app.settings.menuOpen">
            <i class="fa fa-users icon "></i>
            <span translate="navigation.clients"></span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="admin.procedures" ng-click="app.settings.menuOpen = !app.settings.menuOpen">
            <i class="fa fa-medkit icon "></i>
            <span translate="navigation.procedures"></span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="admin.promotionalservices" ng-click="app.settings.menuOpen = !app.settings.menuOpen">
            <i class="fa fa-star icon "></i>
            <span translate="navigation.promotionalservices"></span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="admin.doctors" ng-click="app.settings.menuOpen = !app.settings.menuOpen">
            <i class="fa fa-user-md icon "></i>
            <span translate="navigation.doctors"></span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="admin.manipulations" ng-click="app.settings.menuOpen = !app.settings.menuOpen">
            <i class="fa fa-stethoscope icon "></i>
            <span translate="navigation.manipulations"></span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="admin.schedule" ng-click="app.settings.menuOpen = !app.settings.menuOpen">
            <i class="fa fa-calendar icon "></i>
            <span translate="navigation.schedule"></span>
        </a>
    </li>
    <li class="line"></li>
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span class="font-bold" translate="navigation.clients_side"></span>
    </li>
    <li class="line"></li>
    <li ui-sref-active="active">
        <a ui-sref="admin.contacts" ng-click="app.settings.menuOpen = !app.settings.menuOpen">
            <i class="fa fa-calendar icon "></i>
            <span translate="navigation.home"></span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="admin.news" ng-click="app.settings.menuOpen = !app.settings.menuOpen">
            <i class="fa fa-calendar icon "></i>
            <span translate="navigation.news"></span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="admin.contacts" ng-click="app.settings.menuOpen = !app.settings.menuOpen">
            <i class="fa fa-calendar icon "></i>
            <span translate="navigation.promotions"></span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="admin.contacts" ng-click="app.settings.menuOpen = !app.settings.menuOpen">
            <i class="fa fa-calendar icon "></i>
            <span translate="navigation.equipment"></span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="admin.contacts" ng-click="app.settings.menuOpen = !app.settings.menuOpen">
            <i class="fa fa-calendar icon "></i>
            <span translate="navigation.videos"></span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="admin.contacts" ng-click="app.settings.menuOpen = !app.settings.menuOpen">
            <i class="fa fa-calendar icon "></i>
            <span translate="navigation.reservations"></span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="admin.contacts" ng-click="app.settings.menuOpen = !app.settings.menuOpen">
            <i class="fa fa-calendar icon "></i>
            <span translate="navigation.contacts"></span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="admin.contacts" ng-click="app.settings.menuOpen = !app.settings.menuOpen">
            <i class="fa fa-calendar icon "></i>
            <span translate="navigation.prices"></span>
        </a>
    </li>
</ul>
<!-- / list -->