<!-- settings -->
<button class="btn btn-default no-shadow pos-abt" ui-toggle-class="active" target=".settings">
    <i class="fa fa-spin fa-gear"></i>
</button>
<div class="panel-heading">
    Settings
</div>

<div class="wrapper b-t b-light bg-light lter r-b">
    <tabset class="tab-container">
        <tab>
            <tab-heading>
                <i class="fa fa-cogs text-black m-t-xs"></i>
            </tab-heading>
            <div class="panel-body">
                <div class="m-b-sm">
                    <label class="i-switch bg-info pull-right">
                        <input type="checkbox" ng-model="app.settings.headerFixed">
                        <i></i>
                    </label>
                    Fixed header
                </div>
                <div class="m-b-sm">
                    <label class="i-switch bg-info pull-right">
                        <input type="checkbox" ng-model="app.settings.asideFixed">
                        <i></i>
                    </label>
                    Fixed aside
                </div>
                <div class="m-b-sm">
                    <label class="i-switch bg-info pull-right">
                        <input type="checkbox" ng-model="app.settings.asideFolded">
                        <i></i>
                    </label>
                    Folded aside
                </div>
                <div class="m-b-sm">
                    <label class="i-switch bg-info pull-right">
                        <input type="checkbox" ng-model="app.settings.asideDock">
                        <i></i>
                    </label>
                    Dock aside
                </div>
                <div>
                    <label class="i-switch bg-info pull-right">
                        <input type="checkbox" ng-model="app.settings.container">
                        <i></i>
                    </label>
                    Boxed layout
                </div>
            </div>
        </tab>
        <tab>
            <tab-heading>
                <i class="fa fa-photo text-black m-t-xs"></i>
            </tab-heading>
            <div class="row row-sm">
                <div class="col-xs-6">
                    <label class="i-checks block m-b"
                           ng-repeat="theme in app.themes"
                           ng-click="app.settings.activeTheme = '<% theme.name %>'">
                        <input type="radio" ng-model="app.settings.activeTheme" value="<% theme.name %>">
                        <span class="block bg-light clearfix pos-rlt">
                            <span class="active pos-abt w-full h-full bg-black-opacity text-center">
                              <i class="glyphicon glyphicon-ok text-white m-t-xs"></i>
                            </span>
                            <b class="<% theme.collapse %> header"></b>
                            <b class="<% theme.header %> header"></b>
                            <b class="<% theme.aside %>"></b>
                         </span>
                    </label>


                </div>
            </div>
        </tab>
    </tabset>

</div>
<!-- /settings -->